<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= title %></title>

        <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>
        <main>
            <div class="message-board">
                <%for (let i = 0; i < messages.length; i++) {%>
                    <div class="message">
                        <h4 class="date-added"><%= messages[i].added %></h4>
                        <h2 class="user"><%= messages[i].user %></h2>
                        <p class="message-text"><%= messages[i].text %></p>
                    </div>
                <%}%>
            </div>

            <div>
                <%- include("form") %>
            </div>
        </main>
    </body>
</html>
