<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= title %></title>

        <link rel="stylesheet" href="../styles/style.css">
        <link rel="stylesheet" href="../styles/userIcons.css">
        <script src="../scripts/updateList.js"></script>
    </head>
    <body>
        <main>
            <h1><%= title %></h1>

            <div class="message-board">
                <%- include("userIcons", { messages: messages }) %>
                
                <%for (let i = 0; i < messages.length; i++) {%>
                    <div class="message">
                        <h4 class="date-added"><%= messages[i].added %></h4>
                        <div class="open-container">
                            <h2 class="user"><%= messages[i].username %></h2>
                            <h3><a href="/messages/<%= messages[i].id %>">Open Message</a></h3>
                        </div>
                        <p class="message-text"><%= messages[i].text %></p>
                    </div>
                <%}%>
            </div>

            <div>
                <%- include("form") %>
            </div>
        </main>
    </body>
</html>
